.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 50px;
  height: 20px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  background-color: #111;
}

.ball {
  position: absolute;
  background-color: #f1f1f1;
  height: 15px;
  width: 15px;
  border-radius: 50px;
}

/* .container {
  width: 40px;
  height: 20px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.ball {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
} */
